<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput required [(ngModel)]="formUser.name">
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput required type="password" [(ngModel)]="formUser.password">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      &nbsp;
      <button mat-raised-button color="Accent" (click)="initForm()">Clear</button>
    </div>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-card-title>
    Register
  </mat-card-title>
  <mat-card-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput required [(ngModel)]="formUser1.name">
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput required type="password" [(ngModel)]="formUser1.password">
      </mat-form-field>
    &nbsp;
    <mat-form-field appearance="fill">
      <mat-label>Type (Admin/Normal)</mat-label>
      <input matInput required [(ngModel)]="formUser1.type">
    </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="register()">Register</button>
      &nbsp;
      <button mat-raised-button color="Accent" (click)="initForm()">Clear</button>
    </div>
  </mat-card-content>
</mat-card>
