<h3 mat-dialog-title>Update {{data.name}}</h3>

<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="data.name" [(ngModel)]="data.name">
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="fill">
        <mat-label>Brief</mat-label>
        <input matInput placeholder="data.brief" [(ngModel)]="data.brief">
    </mat-form-field>

    &nbsp;
    <mat-form-field appearance="fill">
        <mat-label>CEO</mat-label>
        <input matInput placeholder="data.ceo" [(ngModel)]="data.ceo">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial  (click)="save()">Save</button>
</mat-dialog-actions>